@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Recursive&display=swap');
body {font-family: 'Noto Sans KR', sans-serif, 'Recursive', sans-serif; color: #222;}
.row {max-width: 1200px; margin: 0 auto; padding: 0 10px;}

#section {margin: 0 0 200px 0;}
.fixture .row {padding: 0 70px;}
.subtitle {font-size: 50px; padding: 40px 0; font-weight: 600; position: relative;
           margin-top: 30px;}
.subtitle::after {content: ''; position: absolute; top: 100px; left: 0; 
                  width: 90px; height: 7px; background: #e0e721;}
.sd_box {margin: 0 52px 100px;}
.schedule ul {display: flex; justify-content: baseline; align-items: center;
               flex-wrap: wrap; margin-right: 25px; margin-left: 10px;}
.schedule ul li {background: #eef0f1; text-align: center; margin: 15px 20px;}
.schedule ul li img {width: 50px;}
.schedule ul li p:nth-of-type(1) {font-size: 17px; padding: 20px 0 10px;}
.schedule ul li p:nth-of-type(2) {font-size: 23px; font-weight: 600;}
.schedule ul li p:nth-of-type(3) {font-size: 15px; padding-bottom: 20px; color: #444;}
.schedule ul li .vs {padding: 0 15px}   
.schedule ul li .vs ul {display: inline-block; padding: 20px 0;}  
.schedule ul li .vs li {font-size: 13px; color: #0b0e1e;}            
.schedule ul li .more {background: #0b0e1e; color: #fff; padding: 13px;
                       cursor: pointer; transition: all 0.5s;}
.schedule ul li .more:hover {color: #e0e721; background: #3d67e4}

.app {position: relative; margin: 20px 0 0;}
.app_content {position: relative; margin: 0 56px;}
.app_content img {width: 650px; margin-left: 45px;}
.app_content > div {position: absolute; top: 30px;background: rgba(17,24,54,.85);
                    bottom: 30px; left: 52%;}
.app_content > div .app_txt {color: #fff; padding: 30px;}
.app_txt p:nth-child(1) {font-size: 23px; padding: 20px 0 30px; font-weight: 600;}
.app_txt p:nth-child(2) {padding-bottom: 80px;}
.app_txt p:nth-child(3) {padding-bottom: 20px; text-align: right; cursor: pointer;
                         transition: all 0.5s; color: #3d67e4; font-size: 15px; font-weight: 700;}
.app_txt p:nth-child(3):hover {color: #e0e721;}

.fixture .topimg > div > img {width: 100%;  min-height: 457px; }
.topimg > div {position: relative; min-height: 457px; }
.topimg > div::after {content: ''; top:0 ; left: 0; bottom: 0; right: 0; 
                      position: absolute; background: rgba(15, 20, 42, 0.664);}
.topimg .topbox {position: absolute; 
                 min-height: 457px; top: 0; left: 0; right: 0; bottom: 0;
                 z-index: 99; text-align: center;}
.topimg .topbox img {margin: 30px auto 5px;}   
.match ul {display: inline-block;}      
.match ul li {text-align: center; color: #ddd; font-size: 12px;}
.match img {width: 130px;}
.match span {color: #fff; font-size: 30px; }
.topbox p:nth-of-type(1) {margin-top: 5%; line-height: 1.8; color: #ccc;}
.topbox p:nth-of-type(2) {color: #ccc;} 

/* countdown */
.countdown-timer-wrapper {border-radius: 5px; background-color: rgba(0, 0, 0, 0.6);
                          margin-bottom: 20px; max-width: 200px; margin: 10px auto;}
.countdown-timer-wrapper h5 {font-size: 14px; letter-spacing: 0.5px;
                             text-align: center; padding-top: 10px;}
.countdown-timer-wrapper .timer {padding: 10px 10px; text-align: center; 
                                 padding-top: 15px;}
.countdown-timer-wrapper .timer .timer-wrapper {display: inline-block;
                                                width: 40px; height: 40px;}
.countdown-timer-wrapper .timer .timer-wrapper .time {font-size: 25px;
                                                      font-weight: bold; color: #fff}
.countdown-timer-wrapper .timer .timer-wrapper .text {font-size: 12px; 
                                                      color: rgba(255, 255, 255, 0.6);}
